<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272438767584-rrgfi5mi2cilg3t51upb99h3rj942ra9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272438767584-rrgfi5mi2cilg3t51upb99h3rj942ra9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>272438767584-4hrgoi3c4h6q548s3dgqk3i9l7l8i6m0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLSqnyyNNlKIgVNsSPyEvM0O2afPNHTLE</string>
	<key>GCM_SENDER_ID</key>
	<string>272438767584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.siabreu.chat</string>
	<key>PROJECT_ID</key>
	<string>chatflutter-7b023</string>
	<key>STORAGE_BUCKET</key>
	<string>chatflutter-7b023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272438767584:ios:8eed5edfc6930940000585</string>
	<key>DATABASE_URL</key>
	<string>https://chatflutter-7b023.firebaseio.com</string>
</dict>
</plist>